
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  background-color: rgb(178, 198, 201);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #211d1d;
  font-size: 30px;
}

.hamburger {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 30px;
  cursor: pointer;
  z-index: 2000;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .sidebar {
    transform: translateX(-260px);
  }
  .sidebar.active {
    transform: translateX(0);
  }
}
